body {
	background-color: #f8fff9;
	font-family: "Roboto", sans-serif;
}

.weather-app {
	background-color: white;
	max-width: 600px;
	margin: 50px auto;
	box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
	padding: 30px;
	border-radius: 15px;
}

header {
	border-bottom: 1px solid #f1fbf3;
	padding: 0 0 30px 0;
}

.search-form-input {
	background-color: #f8fff9;
	width: 80%;
	border: none;
	border-radius: 6px;
	padding: 15px 20px;
	font-size: 16px;
}

.search-form-button {
	background-color: #1a6a6d;
	border: none;
	border-radius: 6px;
	padding: 15px 30px;
	font-size: 16px;
	color: white;
	margin-left: 5px;
}

.weather-content {
	display: grid;
	grid-template-columns: auto auto;
	padding: 30px 0;
	gap: 25%;
}

h1 {
	margin: 0;
}

.location-details {
	color: #babdba;
	font-weight: 500;
	line-height: 24px;
	font-size: 16px;
}

#humidity,
#wind-speed {
	color: #1a6a6d;
}

.temperature-details {
	display: flex;
	align-items: flex-start;
}

.temperature {
	font-size: 80px;
	font-weight: bold;
	line-height: 80px;
}

.weather-icon {
	width: 88px;
	height: 88px;
}

.degrees {
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
}

footer {
	border-top: 1px solid #f1fbf3;
	padding: 30px 0 0 0;
	font-size: 14px;
	color: #babdba;
	text-align: center;
}

footer > a {
	color: #1a6a6d;
}
